* {
    background-color: white;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.buttonDiv {    
    display: inline-grid;
    grid-template-rows: 1fr 1fr;  
}

.buttonDiv button {`
    grid-row: 1;            
    background-color: black;
    color: white;        
    font-size: 18px;
    border-radius: 18px;
    padding: 12px 6px;
    margin: 0px 100px;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 1.20);
}
.buttonDiv p {
    grid-row: 2;
}

.wrapper {
    width: 330px;
    margin:0 auto;
}
#gameboard {
    width: 330px;
    height:310px;
    
}
#gameboard div {
    width: 100px;
    height: 100px;
    float: left;
}
.middle {
    border: 1px solid;
}
.button {
    background-color:white;
    width: 260px;    
    height: 100px;
}
.updown {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.leftright {
    border-left: 1px solid;
    border-right: 1px solid;
}

span, #winner {
    font-weight: bolder;    
}
#red {
    background-color: red;
}

#cyan { 
    background-color: cyan;
}

#winner {
    transition: 2s linear; 
}